body {
  background-image: url("../src/images/fondo.png");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.score {
  text-align: end;
  font-size: 50px;
}